@import '../custom-material';

.holy-grail-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.holy-grail-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;

  text-align: center;
  padding: 10px;
  position: relative;

  #name-header {
    margin-top: 0.1em;
    font-size: 6em;
    font-family: 'Helvetica', serif;
    font-weight: bold;
  }
}

.toolbar {
  margin: 0;
  z-index: 100 !important;
  opacity: 1;
  background-color: #252a3d;

  .name {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.4em;
  }
}

.footer {
  text-align: center;
  background-color: #252a3d;
  color: white;
  height: 40px;
  line-height: 40px;
}
