/* You can add global styles to this file, and also import other style files */
@import "custom-material.scss";
@import "~node_modules/bootstrap/scss/bootstrap";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: mat-color($mat-accent, lighter);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
