/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'custom-material.scss';
@import '~node_modules/bootstrap/scss/bootstrap';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: mat.get-color-from-palette($mat-accent, lighter);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.material-icons-outlined,
.material-icons.material-icons--outlined,
.material-icons-two-tone,
.material-icons.material-icons--two-tone,
.material-icons-round,
.material-icons.material-icons--round,
.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined', serif;
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: 'Material Icons Two Tone', serif;
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round', serif;
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: 'Material Icons Sharp', serif;
}
